*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.d
*.dot.png
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.make
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.temp
*.toc
*.vrb
*.xdy
*.tdo
*.cookie
